/* SCSS Document */
body, div, h1{
	margin: 0;
	transition: left .5s ease-in-out, top .5s ease-in-out, height .5s ease-in-out, opacity .5s ease-in-out;
}
#search-bar{
	z-index: 2;
	left: 35vw;
	width: 50%;
	input{
		width: 50%;
		margin: 0;
		border: none;
	}
	button{
		border: none;
		color: white;
		background-color: darkgray;
		margin-left: 2.5%;
		width: 20%;
	}
}
#title, #collage, #prev-collage-container{
	text-align: center;
	opacity: 0;
	position: absolute;
	color: black;
}
.default{
	background: lightgrey;
	transition: background-color .5s ease-in-out;
	#search-bar{
		position: absolute;
		top: 46vh;
	}
	#title, #collage, #prev-collage-container, #export{
		opacity: 0;
	}
	#collage{
		height: 0;
	}
}
//use floating and margins instead of using absolute positioning 
.activated{
	background: white;
	#search-bar{
		position: absolute;
		bottom: 20vh;
	}
	#title, #collage, #prev-collage-container{
		opacity: 1;
	}
	#title{
		top: 5vh;
		height: 7.5vh;
		width: 100%;
	}
	#prev-collage-container{
//		background-image: url("http://weknowmemes.com/generator/uploads/generated/g1329366229914525740.jpg");
//		background-size: contain;
		bottom: 13vh;
		left: 10vw;
		height: 15vh;
		width: 80vw;
		overflow: scroll;
		div{
			width: 10vw;
			height: 100%;
			float: left;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			cursor: pointer;
		}
		.active{
			display:none;
		}
	}
	#collage{
		background-size: cover;
		background-position: center;
		background-image: url("http://i.imgur.com/6L8KY.jpg");
		top: 12.5vh;
		left: 20vw;
		width: 60vw;
		min-width: 800px;
		height: 50vh;
		min-height: 600px;
		display: block;
	}
}